[submodule "external/SMPLpp"]
	path = external/SMPLpp
	url = https://github.com/chongyi-zheng/SMPLpp.git
[submodule "external/xtensor"]
	path = external/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
